[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "==0.13.13"
requests = "==2.32.5"
faker = "==37.8.0"
coverage = "==7.10.7"
pytest = "==8.4.2"

[dev-packages]

[requires]
python_version = "3.12"
